.container{
    margin-bottom: 20px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.Price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%,#FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: violet;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.cat2{
    background-color: turquoise;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.cat3{
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
#contactus{
    height: 300px;
}
.container h6{
    color: gray;
}
footer{
    text-align: center;
}
.register{
    text-align: center;
.form{
    text-align: center;
}